.projects {
    font-family: var(--fonts-gral);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #7baf46;
    text-align: left;
    line-height: 116px;
    margin-left: 99px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en pantallas pequeñas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 15px;
    transition: 0.3s;
    width: 350px;
    height: auto;
    height: 400px; /* Altura fija para todas las tarjetas */
    overflow: hidden;
    object-fit: cover;
    flex-grow: 1;
}

.project-card:hover {
    border-color: black;
}

.project-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
    object-fit: cover;
}

.project-image {
    width: 100%; /* Imagen ocupa todo el ancho */
    height: 250px;
    object-fit: cover;
    display: block;
}

.category {
    font-size: 14px;
    font-style: italic;
    color: gray;
    margin-top: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}
.project-card-content {
    flex-grow: 1; /* Controla el espacio del texto */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Responsividad */
@media (max-width: 768px) {
    .projects {
        font-size: 48px; /* Título más pequeño */
        margin-left: 20px;
        line-height: 80px;
        text-align: center;
    }
    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 600px;
        gap: 20px; /* Reduce el espacio entre las tarjetas */
    }
    .title {
        font-size: 16px; /* Reduce el tamaño del texto */
    }

    .project-card {
        width: 100%;
        max-width: 350px;
        overflow: hidden;
        height: 400px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px; /* Espacio para evitar superposición */
        object-fit: cover;
    }

    .project-card img {
        width: 100%;
        height: 250px; /* Ajusta para que todas tengan la misma altura */
        object-fit: cover;
    }

    .project-card-content {
        padding: 15px;
        text-align: center;
        min-height: 80px; /* Agregamos altura mínima */
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-fit: cover;
    }
}
@media (max-width: 375px) {
    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .projects {
        font-size: 28px;
        margin-left: 10px;
        line-height: 60px;
        text-align: center;
    }

    .project-card {
        min-width: 100%; /* Aún más pequeño */
        max-width: 350px;
        padding: 0;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: hidden;
        /* object-fit: cover; */
    }
    .project-image {
        max-width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
    }
}
