.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--fonts-gral);
    text-align: center;
    padding: 0 20px;
}
.typing-effect {
    border-right: 3px solid white;
    padding-right: 5px;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@media (max-width: 375px) {
    .loader-container {
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
}
