:root {
    --primary-color: #262726;
    --secondary-color: #669729;
    --buttons-colors: #527c1d;
    --font-colors: #ffffff;
    --fonts-gral: "Inter";
    --secondary-fonts: "Poppins";
    --fonts-bold: "Inter-Bold", sans-serif;
    --fonts-extrabold: "Inter-ExtraBold", sans-serif;
}
body {
    background-color: var(--primary-color);
    color: var(--font-colors);
    font-family: var(--fonts-gral);
}
html {
    scroll-behavior: smooth;
}
